@media screen {
	.page_ba {
		display: none;
	}
}
@media print {
	body {
		width: 100%;
		background: rgb(204, 204, 204);
		font-family: "Times New Roman", Times, serif;
		font-size: 1em;
		-webkit-print-color-adjust: exact;
		.page_ba {
			background: white;
			display: block;
		}

		.header_ba {
			text-align: center;
			width: 100%;
			display: flex;
			img {
				width: 100px;
				height: 100px;
			}
			.header_text {
				width: 100%;
				margin-left: 20px;
				font-weight: bold;
				font-size: 1.1em;
				line-height: 1.3;
				// border: solid;
				padding: 5px;
				h1 {
					margin: 0;
					font-size: 1.2em;
				}
				p {
					margin: 0;
					padding: 0;
					font-weight: normal;
					font-style: italic;
					font-size: 2vw;
				}
			}
			border-bottom: solid black;
		}

		.styled-table_ba {
			width: 100%;
			margin: 0;
			font-size: 1.1vw;
			border-collapse: collapse;
			page-break-inside: auto;
			tr {
				page-break-inside: avoid;
				page-break-after: auto;
			}
			thead {
				display: table-header-group;
			}
			tfoot {
				display: table-footer-group;
			}
			thead tr {
				background-color: black;
				color: #ffffff;
				text-align: left;
			}
			th,
			td {
				text-align: center;
				padding: 5px 5px;
			}
			tbody tr:nth-of-type(even) {
				background-color: #eeeeee;
			}
			tbody tr:last-of-type {
				border-bottom: 1px solid black;
			}
			tbody tr td.no {
				text-align: left;
			}
		}
		.header_title_ba {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
		}
		.title_ba {
			font-size: 1vw;
			display: flex;
			width: 100%;
			.left {
				flex: 2;
			}
			.right {
				flex: 1;
			}
		}
		.ttd {
			width: 100vw;
			height: 1vw;
			page-break-inside: auto;
			tr {
				page-break-inside: avoid;
				page-break-after: auto;
			}
			td {
				text-align: center;
				width: 50%;
			}
		}
	}
}
